body {
    margin: 0;
    font-size: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.main-content {
    padding: 50px 90px;
    width: 700px;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 0 0 20px #888888;
}

.title {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid rgba(136, 136, 136, 0);
}

.button:hover {
    animation: buttonAnimation 0.5s ease-in;
    border-bottom: 1px solid rgba(136, 136, 136, 1);
}

/*task form setting*/
.task-content {
    margin: 0 auto;
    padding: 20px 100px;
}

.task-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
}

.label-task-text {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.task-input {
    margin: 0;
    display: inline-block;

}

.task-input .task-text {
    padding: 10px;
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;

}

.task-input .task-text:focus {
    outline: none;
}

.task-input .add-task {
    padding: 0 10px;
    height: 35px;
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-100%);
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 255, 0, 0.4);
}

.task-input .add-task:hover {
    animation: addTask 0.2s ease-in;
    background-color: rgba(0, 255, 0, 0.3);
}

.task-list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

/*filter setting*/
.filter {
    display: flex;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 10px;
    padding-left: 5px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-item {
    margin-right: 20px;
}

.filter-item:last-child {
    margin-right: 0;
    margin-left: auto;
}

.filter-item a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.filter-item a:hover {
    animation: buttonAnimation 0.3s ease-in;
    color: rgb(0, 0, 0, 0.7);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.filter-item a:active {
    color: rgb(0, 0, 0, 0.5);
}

.filter-item.active a {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.filter-item.active a:hover {
    animation: none;
}

/*task item*/
.task-item.hidden {
    display: none;
}

.task-item {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    margin-bottom: 10px;
    padding: 5px;
}

.task-item:last-child {
    margin-bottom: 0;
}

.task-item::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(img/unchecked.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.task-item.completed {
    text-decoration: line-through;
}

.task-item.completed::before {
    background-image: url(img/checked.svg);

}

.task {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

@keyframes buttonAnimation {
    from {
        color: rgb(0, 0, 0);
        border-bottom: 1px solid rgba(136, 136, 136, 0);
    }

    to {
        color: rgb(0, 0, 0, 0.7);
        border-bottom: 1px solid rgba(136, 136, 136, 1);
    }

}

@keyframes addTask {
    from {
        background-color: rgba(0, 255, 0, 0.4);
    }

    to {
        background-color: rgba(0, 255, 0, 0.3);
    }
}